p.red-warning,
.red-warning-two {
  font-size: 14px;
  color: rgb(226, 0, 0);
}

.loginform-a {
  color: rgb(63, 126, 253) !important;
}

.demo-p {
  color: rgba(0, 0, 0, 0.477);
  border: solid 1px;
}

.demo-p:hover {
  cursor: help;
}

.orange-color {
  color: orange;
}

.green-color {
  color: rgb(65, 232, 65);
}

.gray-color {
  color: lightgray;
}

.job-card {
  color: lightblue;
  background-image: linear-gradient(to bottom, rgb(58, 58, 58), black);
  border: 1px solid lightgray;
  border-radius: 1rem;
  box-shadow: 0 8px 8px -8px rgb(0 0 0 / 50%);
}

.navbar {
  background-color: rgba(11, 9, 37, 0.95);
}

.nav-link {
  font-size: 0.9rem;
  color: white !important;
  transition: 0.3s !important;
}

.nav-brand,
.nav-welcome {
  color: white !important;
}

.nav-welcome {
  font-size: 0.9rem !important;
}

.me-auto {
  color: rgba(255, 0, 0, 0) !important;
  border: none !important;
}

.nav-link:hover,
.nav-brand:hover,
.nav-welcome:hover,
.navbar-toggler:hover {
  color: white !important;
}

#root {
  background-attachment: fixed;

  /* future dev: background-image: linear-gradient(to bottom, rgb(203, 234, 254), rgba(11, 9, 37, 0.89)); */
  background-color: rgb(184, 206, 220);
}

.fa-ellipsis-vertical {
  cursor: pointer;
}

.fa-ban {
  cursor: pointer;
  color: rgb(250, 91, 91);
  transition: 0.3s;
}

.fa-ban:hover {
  color: rgb(249, 68, 68);
}
