p.red-warning,
.red-warning-two {
  font-size: 14px;
  color: red;

  /* color: rgb(177, 0, 0); */
}

.orange-color {
  color: orange;
}

.green-color {
  color: rgb(65, 232, 65);
}

.gray-color {
  color: lightgray;
}

.job-card {
  color: lightblue;
  background-image: linear-gradient(to bottom, rgb(58, 58, 58), black);
  border: 1px solid lightgray;
  border-radius: 1rem;
  box-shadow: 0 8px 8px -8px rgb(0 0 0 / 50%);
}

.navbar {
  background-color: rgba(11, 9, 37, 0.79);
}

.nav-link {
  color: rgba(255, 255, 255, 0.81) !important;
  transition: 0.3s !important;
}

.nav-link:hover {
  color: white !important;
}

#root {
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgb(203, 234, 254), rgba(11, 9, 37, 0.89));
}

.fa-ellipsis-vertical {
  cursor: pointer;
}

.fa-ban {
  cursor: pointer;
  color: rgb(250, 91, 91);
  transition: 0.3s;
}

.fa-ban:hover {
  color: rgb(249, 68, 68);
}
